{{define "layout"}}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="/" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .RegistryURL }}</title>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>{{ .RegistryURL }}</h1>
    <form>
        <input name="filter" type="search"><a class="clear">clear</a>
    </form>

    <div class="wrapper">
        <table>
            <tr>
                <th>Name</th>
                <th>Tags</th>
                <th>Created</th>
                <th>Pull Command</th>
            </tr>
            {{ range $key, $value := .Repos }}
            <tr>
                <td valign="top">
                    {{ $value.Name }}
                </td>
                <td>
                    {{ $value.Tag }}
                </td>
                <td>
                    {{ $value.CreatedDate }}
                </td>
                <td align="right" nowrap>
                    <code>docker pull {{ $value.RepoURI }}</code>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>

    <div class="footer">
        <a href="https://twitter.com/jessfraz">@jessfraz</a>
        <p>Last Updated: {{ .LastUpdated }}</p>
    </div><!--/.footer-->
    <script src="/js/scripts.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-29404280-12', 'jessfraz.com');
ga('send', 'pageview');
    </script>
</body>
</html>
{{end}}
